@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bodyFont;
  src: url(/assets/fonts/inter.ttf);
}

body,
html {
  font-family: bodyFont, "sans-serif";
  @apply bg-[#05020d] text-white;
}

#gradient {
  background: linear-gradient(to right, #f83a3a, #7000ff);
  -webkit-background-clip: text;
  color: transparent;
}

#bg-gradient {
  width: 100%;
  height: calc(100% + 10px);
  background: linear-gradient(
    to right,
    #05020d 0%,
    #f83a3a 30%,
    #7000ff 70%,
    #05020d 100%
  );
  border-radius: 10px;
  opacity: 0.16;
  z-index: 0;
  filter: blur(100px);

  /* Add soft edges at the top */
  box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.5); /* Soft edge effect */
}

#ad-cont {
  background: linear-gradient(105deg, #d35cae 0%, #5e1180 30%, #131649 80%);
}

.fun-stuff {
  text-shadow: 0 0 20px #833339;
  @apply p-[2px] rounded bg-white/10 text-[#ffe2e2];
}

.active {
  @apply font-bold text-white;
}

.thumbnail {
  background-image: url("/assets/play.webp");
  background-position: center;
  background-size: 850px;
  background-repeat: no-repeat;
}
